.galleryMenu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.galleryMenu a {
  text-decoration: none;
}
.cardsMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 27em;
  height: 18em;
  background-color: #060b26ef;
  border-radius: 10%;
  margin-bottom: 6%;
}
#TeamsCards:hover {
  transform: scale(1.1);
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url(../../assets/images/allTeams.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 10px 4px wheat;
}
#PlayersCards:hover {
  transform: scale(1.1);
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url(../../assets/images/allPlayers.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 10px 4px wheat;
}
#GamesCards:hover {
  transform: scale(1.1);
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url(../../assets/images/allGames.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 10px 4px wheat;
}
#StatesCards:hover {
  transform: scale(1.1);
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url(../../assets/images/allStates.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 10px 4px wheat;
}
