.allTeamContainer {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.dropdown {
  width: 300px;
  border-radius: 10px;
  margin: 30px auto;
  background: #2f2f2fdb;
  overflow: hidden;
}
.btn-top * {
  pointer-events: none;
}
.btn-top {
  padding: 20px;
  width: 100%;
  border: 4px outset #c08725;
  outline: none;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2f2f2fdb;
  cursor: pointer;
  border-radius: 10px;
  color: #f1f1f1;
}
.btn-top svg {
  width: 9%;
}
.bloc-links {
  transition: height 0.2s ease-in-out;
  height: 0;
}

.bloc-links ul {
  padding: 5%;
}
.bloc-links li {
  list-style-type: none;
  padding: 7px 0;
  border-radius: 50%;
  cursor: pointer;
}

.bloc-links li:hover {
  background-color: #2f2f2f;
  box-shadow: 8px 10px 20px 6px #c08725c7;
}
