.GalleryTeams {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #7575797d;
  border-radius: 20px;
  padding: 1em;
  margin: 3em;
  margin-top: 1em;
}

.logoTeam {
  width: 85px;
  margin: 0.5em;
}
#Nets {
  width: 107px;
  margin: 0;
}
.teamCard {
  margin: 10px;
  transition: transform 0.3s;
}
.teamCard:hover {
  transform: scale(2);
}

@media only screen and (max-width: 425px) {
  .logoTeam {
    width: 49px;
    margin: 0.2em;
  }
  #Nets {
    width: 72px;
  }
}
