.modalBackground {
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  top: 0%;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modalContentPlayer {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #060b26;
  border-radius: 8px;
  width: 55%;
  padding: 20px;
  animation-duration: 0.3s;
  animation-name: dropTop;
  animation-timing-function: linear;
}
@keyframes dropTop {
  0% {
    transform: translateY(-100%) scale(0);
    opacity: 0;
  }
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }
}
.leftSection {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 13em;
}
.closeZonePlayer {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 18px;
}
.infoPlayer h2 {
  margin-top: 1em;
}
.detailInfosPlayer {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0.4em;
  padding: 1em;
  border-radius: 7px;
}
#park {
  background-image: url(../../assets/images/terrain.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 300px;
  height: 220px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#closeBtnPark {
  position: absolute;
  top: 7px;
  right: -7px;
  font-size: 27px;
}
.ligneAvant,
.ligneArriere {
  display: flex;
  justify-content: space-around;
}
.positions {
  font-size: 35px;
  fill: #060b26;
}
.positions.active {
  fill: red;
}
.infoPosition {
  display: none;
  background-color: #060b26d5;
  width: 367px;
  position: absolute;
  top: 0;
  left: -369px;
  border-radius: 5px;
}
#smallForward:hover #infoSmallForward,
#center:hover #infoCenter,
#powerForward:hover #infoPowerForward,
#pointGuard:hover #infoPointGuard,
#shootingGuard:hover #infoShootingGuard {
  display: block;
}
.infoPosition ul {
  list-style: none;
  font-size: small;
}

@media only screen and (max-width: 425px) {
  .modalContentPlayer {
    width: 93%;
  }
  .infoPosition {
    top: 207px;
    left: -33px;
  }
  .infoPosition ul {
    padding: 0;
  }
}
