.zoneDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
}
.zone1 {
  display: flex;
  flex-direction: row;
  margin-bottom: 1%;
  justify-content: space-around;
  width: 70%;
}
.leftZone {
  width: 40%;
}
.logo {
  background-color: #ffffff24;
  border-radius: 20px;
}
.logoTeamDetail {
  width: 100%;
}
.colorsTeam {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.color {
  width: 7vw;
  height: 6vh;
  border: 1px solid wheat;
  box-shadow: 10px 5px 5px black;
  border-radius: 5px;
}
.zone2 {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  height: 200px;
  overflow: scroll;
  width: 90%;
}
.info img {
  width: 10vw;
}
.statList li {
  list-style: none;
}
.statList ul {
  padding-left: 0%;
}
.statList li {
  margin-bottom: 2vh;
}

.zone3 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
.parquet {
  background-position: center;
  background-size: cover;
  width: 30vw;
  height: 44vh;
}
.arena {
  background-position: center;
  background-size: cover;
  width: 30vw;
  height: 44vh;
}
@media only screen and (max-width: 780px) {
  .zone1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .leftZone {
    width: 90%;
  }
  .info img {
    width: 15vw;
  }
  .zone3 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .parquet {
    width: 85vw;
    height: 77vh;
    margin: 3%;
  }
  .arena {
    width: 85vw;
    height: 77vh;
  }
}
