.Home a {
  text-decoration: none;
}
.logoHome {
  margin-top: 10%;
}
#logoNbaHome {
  width: 14%;
  margin: auto;
  max-width: 200px;
}
.overlap {
  width: 95%;
  text-align: center;
  font-size: 20vmin;
  text-transform: uppercase;
  --overlap: 0.5ch;
  --shadow-offset: 0.1ch;
  --shadow-blur: 0.2ch;
  --shadow-color: black;
  letter-spacing: calc(var(--overlap) * -1);
  isolation: isolate;
}
.overlap-front {
  --mult: 1;
}
.overlap-back {
  --mult: -1;
}
.overlap > span {
  position: relative;
  z-index: calc(var(--index, 1) * var(--mult, 1));
}
.overlap-front > span:not(:first-of-type),
.overlap-back > span:not(:last-of-type) {
  text-shadow: calc(var(--mult, 1) * var(--shadow-offset, 0) * -1) 0
    var(--shadow-blur, 0) var(--shadow-color, black);
}

@media only screen and (max-width: 425px) {
  .overlap {
    --overlap: 0.75ch;
  }
}
