.articles {
  display: flex;
  justify-content: center;
  width: 95%;
  background-color: #8080805e;
  margin: auto;
  border-radius: 20px;
  border: 4px outset #c08725;
  padding: 2%;
}
/* GESTION BLOC */
.awardsContainer {
  display: flex;
  flex-direction: column;
  height: 1070px;
  align-items: center;
}

.bloc {
  height: 100px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
  transition: flex-grow 0.4s ease-out;
  overflow: hidden;
  position: relative;
  padding: 0 1%;
  margin: 2px;
}
.active {
  flex-grow: 1000;
}
.bloc * {
  pointer-events: none;
}
.topBloc {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1%;
}
.IDAward {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.IDAward img {
  width: 150px;
}
.awardTitle {
  font-size: 3vw;
  margin: 0%;
}
.line {
  width: 27%;
  height: 5px;
  border-radius: 2px;
  background: black;
  margin: auto;
}
.playerNameTitle {
  margin: 0;
}
.contenuAward {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
.pictureContent {
  width: 520px;
  border-radius: 10px;
}
.infosAward {
  width: 40vw;
}
.infoTeamZone {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}
.infoTeamZone p {
  margin: 0;
}
.logoTeamPlayer {
  width: 3vw;
}
#Coach {
  width: 332px;
}
/* GESTION STAT AWARDS */
.statsAward {
  border-radius: 20px;
  border: 4px outset #c08725;
}
.topStat {
  border-bottom: 4px outset #c08725;
  background-color: #000000cf;
  border-radius: 20px 20px 0 0;
}
.contentStat {
  display: flex;
  justify-content: space-around;
  background-color: #2f2f2fe0;
}
.statRow p {
  margin-bottom: 1vh;
}
.statTitle,
.statRan {
  color: rgba(245, 222, 179, 0.61);
}
/* GESTION WINNER */
.infoWinnerNba {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.opponentFinal {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#CHistory {
  width: 45%;
  border-radius: 15%;
  margin: 2%;
}
#finals {
  width: 80%;
  border-radius: 12px;
}
.opponentLogo {
  width: 20%;
}
.idMVP img {
  width: 150px;
}
.highlightFinal {
  background-color: black;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 50%;
  justify-content: center;
  border-radius: 20px;
  border: 4px outset #c08725;
  padding: 3%;
  cursor: pointer;
}
.highlightFinal:active {
  background: linear-gradient(#c08725, #bdae93);
  border: 4px outset black;
}
.highlightFinal p {
  margin: 0%;
}
.highlightFinal svg {
  font-size: 24px;
  fill: red;
}
